.feynman__link{
    text-decoration: none;
    color:#2f80ed;
    line-height: 51px;
    font-size: 36px;
    position: absolute;/*абсолютная привязка к позиции*/
    right: 48px;
    top: 50%;/*привязка к середине*/
  }
  .feynman__link:hover {
    outline: dotted #2f80ed;/* добавил ховер, чтобы ссылки при наведении курсора появлялась голубая рамка*/
  }