.two-columns{
    width: 80%;
    margin: 0;
    display:flex;
    flex-direction: row;/*выстроили элементы в ряд*/
    justify-content: space-between;/*развели блоки по сторонам*/
    align-items: flex-start;/*подняли наверх*/ 
  }