.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:  #f2f2f2;
  display: flex;
  position: relative;/*относительное позиционирование*/
  /* выше установили ограничения для секции */
}
.logo_place_header{
  height:32px;
  width: 182px;
  position: absolute;/*абсолютная привязка к позиции*/
  top: 30px;
  left: 64px;
}
.header__title{
  width: 730px;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}
.header__subtitle{
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  text-decoration: none;
  position: absolute;/*абсолютная привязка к позиции*/
  bottom: 30px;
  left: 64px;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 0;
}
.header__link{
  text-decoration: none;
  color:#2f80ed;
}
.header__link:hover {
  outline: dotted #2f80ed;/* добавил ховер, чтобы ссылки при наведении курсора появлялась голубая рамка*/
}

.header__main-illustration{
  margin: 0;
  padding: 0;
  height: 608px;
  width: 765px;
  position: absolute;/*абсолютная привязка к позиции*/
  bottom: 0;
  right: 0;
  z-index: 1;
 }
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  position: absolute;/*абсолютная привязка к позиции*/
  right:0;
  top: 64px;
  z-index: 0;
}
.description{
  display: flex;
  justify-content: center;/*отцентровали весь блок*/
}

.two-columns{
  width: 80%;
  margin-top: 100px;
  display:flex;
  flex-direction: row;/*выстроили элементы в ряд*/
  justify-content: space-between;/*развели блоки по сторонам*/
  align-items: flex-start;/*подняли наверх*/
    
}
.two-columns__brief{
  margin: 0;
  width:175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
 }
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
 }

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-of-type{
  margin-bottom: 0;
}
.two-columns__span-accent{
  font-weight: bold;
}
.digits{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.section-title{
  margin-top: 100px;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width:60%;
  display:flex;
  justify-content: center;
}
.section-title_theme_dark{
  color: white;
}
.section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width:60%;
  margin-top:20px;
  margin-bottom: 0;
  text-align: center;
}
.section-subtitle_theme_dark{
    color: white;
}
.table{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 100px;
  padding: 0;
  list-style: none;
}
.table_theme_dark{
  z-index: 1;
}
.table__cell{
  width: 250px;
  margin-top: 60px;
}
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.table__heading_theme_dark{
  text-align: start;
  color: white;
}
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}
.table__text_theme_dark{
 font-weight: normal;
 color: white;
}
.feynman{
  min-height: 790px;
  background-image: url("../images/feynman.png");/*фоновая картинка с мужиком*/
  background-position: bottom left;/*позиция фона в нижнем левом углу*/
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color:  #f2f2f2;
  position:relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
}
.feynman__title{
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
  margin: 0 auto;
  text-align: center;
  z-index:2;
}
.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
  text-align: center;
  z-index:2;
}
.feynman__link{
  text-decoration: none;
  color:#2f80ed;
  line-height: 51px;
  font-size: 36px;
  position: absolute;/*абсолютная привязка к позиции*/
  right: 48px;
  top: 50%;/*привязка к середине*/
}
.feynman__link:hover {
  outline: dotted #2f80ed;/* добавил ховер, чтобы ссылки при наведении курсора появлялась голубая рамка*/
}

.kaufman{
  background-color: #1f1f1f;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.kaufman__triangle{
  height: 877px;
  width: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}
.footer{
  min-height: 350px;
  background-color:#1f1f1f;
  display:flex;
}
.footer__columns{
  margin: 60px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.footer__column{
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;
 }
.footer__column_content_info{
  flex-basis: auto;
}
.footer__column_content_social{
  flex-basis: auto;
}
.logo_place_footer{
  height: 35px;
  width: 185px;
}
.footer__author{
  line-height: 25px;
  font-size: 18px;
  color: white;
  margin: 18px 0;
}
.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
}
.footer__column-links{
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 16px;
}
.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
.footer__column-link:hover {
  outline: dotted #2f80ed;/* добавил ховер, чтобы ссылки при наведении курсора появлялась голубая рамка*/
}

.footer__social-icon{
  height: 16px;
  width: 16px;
  margin: 0 10px 0 0;
}

