.khan__buy-link{
    line-height: 42px;
    font-size: 30px;
    align-self: flex-start;
    text-decoration: none;
    color:#2f80ed;
    margin: 0;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  .khan__buy-link:hover {
    opacity: 0.5;/*ссылка при наведении плавно становится прозрачнее*/
  }
 